<form [formGroup]="form" class="container container-wrapper">
  <div class="row">
      <div class="col-12">
          <div class="container-login">
              <h1>Cadastre-se</h1>
              <div class="container-login-input">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Usuário</mat-label>
                  <input matInput formControlName="usuario">
                </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>E-mail</mat-label>
                      <input matInput formControlName="email">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Senha</mat-label>
                      <input matInput formControlName="senha" type="password">
                    </mat-form-field>
                    <button class="button-cadastro" mat-raised-button (click)="submit()">
                      Cadastrar
                    </button>
              </div>
          </div>
      </div>

  </div>
</form>
