<div class="container container-wrapper">
  <div class="row">
      <div class="col-12">
          <div class="container-login">
              <h1>Cadastre-se</h1>
              <div class="container-login-input">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Nome</mat-label>
                  <input matInput >
                </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>E-mail</mat-label>
                      <input matInput >
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Senha</mat-label>
                      <input matInput>
                    </mat-form-field>
                    <button class="button-cadastro" mat-raised-button>
                      Cadastrar
                    </button>
              </div>
          </div>
      </div>

  </div>
</div>
