<div class="container container-wrapper">
    <div class="row">
        <div class="col-12">
            <div class="container-recuperar">
                <h1>Recuperar senha</h1>
                <div class="container-email-input">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>E-mail</mat-label>
                        <input matInput >
                      </mat-form-field>
                      <button class="button-recuperar" mat-raised-button>
                        Recuperar senha
                      </button>
                </div>
            </div>
        </div>

    </div>
</div>
