.container-login {
    margin-top: 12px;
    height: 100%;
    width: 100%;
}

.container-login-input {
    margin-top: 12px;
    height: 100%;
    width: 400px;
}

.container-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.example-full-width {
 display: block;
 margin-top: 20px;

}

.button-recuperar{
    margin-top: 20px;
}