<h2 mat-dialog-title>Bolão da copa</h2>
<mat-dialog-content class="mat-typography">
  <h3>Olá apostador</h3>
  <p>Seja bem vindo ao bolão da copa do mundo 2022. Aqui você irá encontrar as regras para fazer as apostas.</p>

  <ul>
    <li>Primeiramente você deve criar um login e senha para poder acessar a página de apostas.</li>
    <li>Não é permitido fazer o cadastro com um nome de usário já cadastrado.</li>
    <li>As apostas poderão ser feitas até o horário previsto do jogo. Após esse período não se pode mais apostar.</li>
</ul>
 



</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>