<div class="container container-wrapper">
    <div class="row">
        <div class="col-12">
            <div class="container-login">
                <h1>Login</h1>
                <div class="container-login-input">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>E-mail</mat-label>
                        <input matInput >
                      </mat-form-field>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Senha</mat-label>
                        <input matInput>
                      </mat-form-field>
                      <p><a routerLink="/recuperar-senha">Esqueceu sua senha?</a></p>
                      <button class="button-login"mat-raised-button><a routerLink="/aposta-inicial">Login</a></button>

                </div>
            </div>
        </div>

    </div>
</div>