<div class="container container-wrapper">
    <div class="row">
        <div class="col-12">
            <h1>Seleções que irão disputar os jogos na fase de grupos</h1>
            <div class="container-aposta">
                <h1>Aqui vai tabelas com os jogos para apostar</h1>
                <div class="container-tabela-jogos">
                    <!-- <app-tabela-confronto></app-tabela-confronto> -->
                     <div class="container-buttons">
                        <button class="button-apostar" mat-raised-button><a routerLink="/informacao-aposta">Apostar</a></button>
                        <button class="button-ver-resultados" mat-raised-button><a routerLink="/resultado">Ver resultados</a></button>
                         
                        
                     </div>

                  
                </div>
            </div>
        </div>
  
    </div>
  </div>
